/* GRID */
.wrapper {
  width: 90%;
  margin: 0 auto;
}

//  GRID STYLES
.grid {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}
.grid__item {
  padding: 10px;
  box-sizing: border-box;
}

// ONE COLUMN GRID
.grid__item--one {
  width: 100%;
}

// TWO COLUMN GRID
.grid__item--one-half {
  width: percentage(1/2);
}
.grid__item--two-halves {
  width: percentage(2/2);
}

// THREE COLUMN GRID
.grid__item--one-third {
  width: percentage(1/3);
}
.grid__item--two-thirds {
  width: percentage(2/3);
}
.grid__item--three-thirds {
  width: percentage(3/3);
}

// FOUR COLUMN GRID
.grid__item--one-fourth {
  width: percentage(1/4);
}
.grid__item--two-fourths {
  width: percentage(2/4);
}
.grid__item--three-fourths {
  width: percentage(3/4);
}
.grid__item--four-fourths {
  width: percentage(4/4);
}

// FIVE COLUMN GRID
.grid__item--one-fifth {
  width: percentage(1/5);
}
.grid__item--two-fifths {
  width: percentage(2/5);
}
.grid__item--three-fifths {
  width: percentage(3/5);
}
.grid__item--four-fifths {
  width: percentage(4/5);
}
.grid__item--five-fifths {
  width: percentage(5/5);
}

.grid_item--push-1-5 {
  margin-left: percentage(1/5);
}
.grid_item--push-2-5 {
  margin-left: percentage(2/5);
}
.grid_item--push-3-5 {
  margin-left: percentage(3/5);
}
.grid_item--push-4-5 {
  margin-left: percentage(4/5);
}
.grid_item--pull-1-5 {
  margin-right: percentage(1/5);
}
.grid_item--pull-2-5 {
  margin-right: percentage(2/5);
}
.grid_item--pull-3-5 {
  margin-right: percentage(3/5);
}
.grid_item--pull-4-5 {
  margin-right: percentage(4/5);
}



// SIX COLUMN GRID
.grid__item--one-sixth {
  width: percentage(1/6);
}
.grid__item--two-sixths {
  width: percentage(2/6);
}
.grid__item--three-sixths {
  width: percentage(3/6);
}
.grid__item--four-sixths {
  width: percentage(4/6);
}
.grid__item--five-sixths {
  width: percentage(5/6);
}
.grid__item--six-sixths {
  width: percentage(6/6);
}

// SEVEN COLUMN GRID
.grid__item--one-seventh {
  width: percentage(1/7);
}
.grid__item--two-sevenths {
  width: percentage(2/7);
}
.grid__item--three-sevenths {
  width: percentage(3/7);
}
.grid__item--four-sevenths {
  width: percentage(4/7);
}
.grid__item--five-sevenths {
  width: percentage(5/7);
}
.grid__item--six-sevenths {
  width: percentage(6/7);
}
.grid__item--seven-sevenths {
  width: percentage(7/7);
}
